<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.risinglight.financebuddy">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewsActivity"></activity>
        <activity
            android:name=".CouponsActivity"
            android:label="@string/title_activity_coupons"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddCardActivity" />
        <activity android:name=".UpiPaymentActivity" />
        <activity android:name=".view.SplitwiseActivity" />
        <activity android:name=".view.WebActivity" />
        <activity android:name=".view.InvestmentActivity" />
        <activity android:name=".view.MessageActivity" />
        <activity android:name=".view.ExpenseManagerActivity" />
        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>